{{define "content"}}
<div>
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h5 class="card-title">Cumulative by main account</h5>
                    <div class="chart-wrap">
                        <canvas id="chart-year-cumulative" width="960" height="360"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>window.__CHARTS__ = {{.Charts}};</script>
<script src="/js/charts.js" defer></script>
{{end}}
